* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-content{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    min-height: 100vh;
    margin: px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* .header-content{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    min-height: 100vh;
    text-align: center;
    } */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    height: 50px;
    width: 100%;

}

.logo{
    font-weight: 800;
    font-size: 40px;
    color: darkblue;
    max-width: 0px;
}
.front-text{
    height: 237px;
    width: 905px;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}
.btn{
    font-size: 20px;
    color: white;
    background-color: rgb(68, 109, 242);
    padding: 10px 20px;
    border-radius: 10px;
}
.body{
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: center;
    gap: 50px;
}
.action{
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    align-items: center;

}
.text{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}
.img{
    border-radius: 50px;
    align-items: center;
}
.text h3{
    font-size: 45px;
}
.text p{
    width: 300px;
}

.preview{
    min-width: 80vw;
    background-color: rgba(197, 186, 237, 0.824);
    border-radius: 20px;
    height: 45vh;
}
.preview h2{
    text-align: center;
    font-size: 50px;
    padding: 30px;

}
.data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.show h2{ 
    font-size: 90px;
    color: blue;
}
.show{
    height: 20vh;
}
.show p{ 
    text-align: center;

}